<div class="container-fluid" id="header">
     <div class="container">
         <div class="row p-3">

            <div class="col-lg-5">
                <i class="bi bi-file-earmark-code"></i>
                <div class="logo">DUVANCELIZ</div>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-1"></div>
            <div class="col-lg-5">
                <div class="navbar">
                    <a href="#">HOME</a>
                    <a href="#">PROYECTS</a>
                    <a href="#">CONTACT</a>
                    <a href="#">ABOUT ME</a>
                   </div>
            </div>
         </div>
     </div>
    
    <div class="container text-light mt-5">
        <div class="row p-5">
            <div class="col-6">
                <h5 class="fs-2">Developer web fullstack enthusiastic and passionate</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente ipsum voluptatum dolor laudantium dicta eius eligendi ut maxime mollitia nobis. Repellat eaque ut, temporibus debitis sequi iste maxime repellendus.</p>
      <a href="" class="btn btn-primary">SEE MORE</a>
            </div>
            <div class="col-6 text-center">
                <div class="java">JAVA</div>
                <div class="python">PYTHON</div>
                <div class="javas">JAVASCRIPT</div>
                <div class="type">TYPESCRIPT</div>
                <div class="angular">ANGULAR</div>
                <div class="spring">SPRING BOOT</div>
                <div class="flask">FLASK</div>
                <div class="mysql">MYSQL</div>
                <div class="boot">BOOTSTRAP 5</div>
                <div class="aws">AWS</div>
            </div>
        </div>
      
    </div>

   
</div>

<div class="container" id="main">

</div>


<div class="container-fluid text-light text-center p-3" id="footer">
    © 2022 DuvanCeliz. All Rights Reserved.
</div>