#btnForm {
    font-size: 1em;
    border: 1px solid rgb(101, 24, 156);
    border-radius: 0.1875rem;
    padding: 0.625rem;
    color: rgb(101, 24, 156);
    transition: .5s;
}

#btnForm:hover {
    border: 1px solid rgb(86, 21, 133);
}

#in {
    border: 1px solid rgba(85, 21, 131, 0.479);
    border-radius: 4px;
    /* transition: 0.1s; */
    outline: none;
    padding: 5px;
    width: 100%;
}

#in:focus {
    box-shadow: 0 0 0 1px rgba(85, 21, 131, 0.712);
}

#textarea {
    border: 1px solid rgba(85, 21, 131, 0.449);
    border-radius: 4px;
    width: 100%;
    /* transition: 0.3s; */
    padding: 8px;
    outline: none;
}

#textarea:focus {
    box-shadow: 0 0 0 1px rgba(85, 21, 131, 0.712);
}

#in_two {
    border: 1px solid rgba(85, 21, 131, 0.479);
    border-radius: 4px;
    /* transition: 0.1s; */
    outline: none;
    padding: 5px;
    width: 50%;
}

#in_two:focus {
    box-shadow: 0 0 0 1px rgba(85, 21, 131, 0.712);
}