<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">De:</label>
    <input type="email" placeholder="nombre@ejemplo.com" id="in">
</div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Para:</label>
    <input type="email" placeholder="duvanceliz@gmail.com" id="in" disabled>
</div>
<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">¿En que te puedo ayudar?</label>
    <textarea name="" id="textarea" cols="30" rows="4"></textarea>
</div>

<button id="btnForm" (click)="sendEmail()">Enviar</button>