<div class="container-fluid bg-personal">
    <div class="row">
        <h4 class="text-light text-center">Dashboard</h4>
        <div class="col-lg-3">1</div>
        <div class="col-lg-6">
            <table class="table text-light">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Email</th>
                        <th scope="col">Body</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>name@example.com</td>
                        <td>Hello wordl!!</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>name@example.com</td>
                        <td>Hello wordl!!</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>name@gamil.com</td>
                        <td>Hello wordl!!</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-3">4</div>
    </div>
</div>